.header {
  width: 100vw;
  display: flex;
  align-items: center;
  margin: 1rem;
  border-bottom: 1px solid rgb(249 250 251);
  margin-bottom: 2rem;
}
.link {
  all: unset;
  display: flex;
  align-items: center;
}
.h1 {
  margin: 1rem;
}
.form {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  all: unset;
  width: 50vw;
  outline: none;
  background-color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.btn {
  all: unset;
  padding: 0.7rem;
  background-color: rgb(71, 71, 72);
}
